<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'partials/_navbar.html' %}

    <div class="container">
        <div class="row vh-100 mx-auto justify-content-center align-items-center flex-column">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="card">
                      <h5 class="card-header">Featured</h5>
                      <div class="card-body">
                        <h5 class="card-title">Welcome to Newsletter App!</h5>
                        <p class="card-text">Click to the button to see all the newsletters</p>
                        <a href="/newsletters" class="btn btn-primary">See Newsletters</a>
                      </div>
                    </div>
                </div>
        </div>
    </div>
<!--    <div class="container-fluid">-->

<!--       <div class="row">-->
<!--            <div class="d-flex flex-row justify-content-center align-items-center" style="height: 100px;">-->
<!--            <div class="card">-->
<!--              <h5 class="card-header">Featured</h5>-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title">Special title treatment</h5>-->
<!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
<!--       </div>-->
<!--    </div>-->
</body>
</html>